# Spaceship Titanic

## Test XGBoost Classifier

## Table of Contents
- [Spaceship Titanic](#spaceship-titanic)
- [Test XGBoost Classifier](#test-xgboost-classifier)
- [Table of Contents](#table-of-contents)
- [Config](#config)
- [Dependencies](#dependencies)
- [Data Extraction](#data-extraction)
- [Hyper Parameter Tuning](#hyper-parameter-tuning)
- [Save Model](#save-model)
- [Conclusions](#conclusions)

### Config

Set up directory variables.

In [1]:
transformed_dataset_directory = "../transformed-data"
transformed_test_X_dataset_directory = f"{transformed_dataset_directory}/test_X.csv"

models_directory = "../models"
model_save_path = f"{models_directory}/xgb_classifier.json"

results_directory = "../results"
xgb_classifier_result_path = f"{results_directory}/xgb_boost_classifier_submission.csv"

### Dependencies

In [2]:
%conda install pandas numpy matplotlib seaborn xgboost scikit-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

from xgboost import XGBClassifier

### Data Extraction

In [4]:
X = pd.read_csv(transformed_test_X_dataset_directory)
X.head()

,PassengerId,Cabin_2,HomePlanet_Earth,HomePlanet_Europa,CryoSleep_False,CryoSleep_True,Cabin_1_A,Cabin_1_B,Cabin_1_C,Cabin_1_D,...,Spa_is_zero,Spa_std_1,Spa_std_-1,Spa_std_2,Spa_std_3,VRDeck_is_zero,VRDeck_std_1,VRDeck_std_-1,VRDeck_std_2,VRDeck_std_3
0,0013_01,3,1,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,0018_01,4,1,0,1,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0019_01,0,0,1,0,1,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
3,0021_01,1,0,1,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
4,0023_01,5,1,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [5]:
passenger_ids = X['PassengerId'].values.reshape(-1, 1)
X.drop(['PassengerId'], axis=1, inplace=True)

In [6]:
X.head()

,Cabin_2,HomePlanet_Earth,HomePlanet_Europa,CryoSleep_False,CryoSleep_True,Cabin_1_A,Cabin_1_B,Cabin_1_C,Cabin_1_D,Cabin_1_E,...,Spa_is_zero,Spa_std_1,Spa_std_-1,Spa_std_2,Spa_std_3,VRDeck_is_zero,VRDeck_std_1,VRDeck_std_-1,VRDeck_std_2,VRDeck_std_3
0,3,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,4,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
3,1,0,1,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
4,5,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [7]:
xgb_classifier = XGBClassifier()
xgb_classifier.load_model(model_save_path)

In [8]:
predictions = xgb_classifier.predict(X)

passenger_ids = pd.DataFrame(passenger_ids, columns=["PassengerId"])
predictions = pd.DataFrame(predictions.astype('bool'), columns=["Transported"])

submission = pd.concat([passenger_ids, predictions ], axis=1)
submission.head(n=10)

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01        False
5     0027_01        False
6     0029_01         True
7     0032_01         True
8     0032_02         True
9     0033_01         True

In [9]:
submission.to_csv(xgb_classifier_result_path, index=False)

#### Conclusions

Best result had an accuracy of 0.79471.